@import 'modules/vars';

@font-face {
    font-family: 'Playfair Display', serif;
    src: url("../css/PlayfairDisplay-Regular.woff");
        
}

main{
    background: url('../images/rain.jpg');
    background-position: center;
    background-size: cover;
    
    width: 100vw;
    height: 100vh;
    

    h2{
        font-family: $font;
        font-size: 2rem;
        color:#F8F8F8;
        padding-top: 15px;
        text-align: center;
    }


    #container{
        width: 100vw;
        margin-top: 30px;
        .video-poster{
            
            display: flex;
            flex-wrap: wrap;
                li{
                margin:0 auto;
                padding: 3%;
                img{
                
                width: 200px;
                height: 250px;}
            }
        }

    }


    .hidden-movies{
        display:none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: #F8F8F8;

        h3{
            font-family: $font;
            font-size: 2em;
            text-align: center;
            padding: 20px;

        }

        .closed{
            float:right;
            margin-right: 20px;
            border: none;
            font-size: 45px;

        }
        video{
            width: 500px;
            height: 300px;
            margin-left: 29vw;

        }

        p{ text-align: center; font-size: 1.5em; margin-top: 20px;}

        .buttons{
            
            margin-left: 105px;
            margin-top: 20px;
            border: none;
            font-family: $font;
            font-size: 45px;
        }

      
       
    }


    .show-movie{
        display: block;
    }
}


@media screen  and (max-width : 490px)  {

    main{
        h2{
        font-size: 1.3em;
        padding-bottom: 80px;
        }


        #container{


            .video-poster{

                li{
                    img{
                        width: 150px;
                        height: 200px;
                    }

                }

            }
        }
    }

}