@import 'modules/vars';

@font-face {
    font-family: 'Playfair Display', serif;
    src: url("../css/PlayfairDisplay-Regular.woff");
        
}

main{
    background: url('../images/rain.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    

    h2{
        font-family: $font;
        font-size: 2rem;
        color:#F8F8F8;
        
        text-align: center;
    }
}