<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <title>Accessibility Research</title>
</head>
<body>
    <main id="app">
      <section class="hidden-movies" :class="{'show-movie' : showDetails }" > <!-- hidden movies-->
        <h3 :class="{'show-movie' : showDetails }">{{ videotitle }}</h3>
        <button class="closed" v-on:click="xButton">X</button> 
          <video ref="videoEL" :src="'images/' + videosource" controls v-if="showDetails"></video>
            <p :class="{'show-movie' : showDetails }">{{ videodescription }}</p>
            <button class="buttons" :disabled="isPlaying" v-on:click="play">Play</button>
            <button  class="buttons" :disabled="!isPlaying" v-on:click="pause">Pause</button>
            <button class="buttons" v-on:click="rePlay">Replay</button>
            <button class="buttons" v-on:click="fullScreen">Full Screen</button>
            
        </section>
       <h2>A/V Accessibility Research Project</h2> 


        <section id="container">
            <ul class="video-poster">
              
              <li v-for="movie in videodata">
                <a :href="movie.vidsource" @click.prevent="showMovie(movie)">
                  <img :src="'images/' + movie.thumb" alt="movie poster">
                </a> 
              </li></ul>
        </section>

        
          
    </main>
  
    <script defer src="js/main.js"></script>
</body>
</html>